    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Purpose</h2>
                <p>A hacker is often assumed as someone who tries to get unauthorized access to break into a system, but this isn't always true!</p>
                <p>The term hacking in this case refers to the action of simply using one's technical knowledge to achieve a certain goal.</p>
                <p>Hackathons provide both fun and learning opportunities to all students — this club aims to enable students to fulfill 
                    their previously unexplored potential to create through learning and hacking. Students of all levels of experience are welcome! 
                    Through this club, anyone will be able to learn how to derive innovative solutions to current daily problems the world faces.</p>
            </div>
        </div>
    </section>