    <!-- Contact Section -->
    <section id="calendar" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Calendar</h2>
                <p>Below is a calendar of upcoming events relevant to Hack Club, including upcoming hackathons and meeting descriptions.</p>
                <iframe src="https://calendar.google.com/calendar/embed?src=lasahackclub%40gmail.com&ctz=America%2FChicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </section>